
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
 }
 header{
    display: flex;
    align-items: center;
    background-color: white;
    height: 80px;
}
.logo{
    padding-left: 25px;
}
main{
    width: 700px;
    background-color: white;
    margin: 30px auto;
}
.add-task{
    margin: 10px 40px;
    background-color: #14AAF5;
    border: none;
    border-radius: 10%;
    font-size: 17px;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.add-section{
    background-color: white;
    border-radius: 10%;
    font-size: 17px;
    color: #C4CBD0;
    cursor: pointer;
    margin-left: -30px;  
    padding: 5px;
}
main{
    height: 780px;
    width: 700px;
    background-color: white;
    margin: -29px auto;
}
.new-task{
    font-size: 25px;
    margin-left: 70px;
    padding-top: 40px;
}

.completed{
    width: 22px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid green;
    text-align: center;
    margin-left: 70px;
    color: green;
}
.description{
    margin-left: 70px;
    font-size: 20px;
}
.btn-blue{
    width: 65px;
    height: 20px;
    background-color: #14AAF5;
    border-radius: 20%;
    border: none;
    color: white;
    cursor: pointer;
}
div{
    padding-top: 20px;
}

.today{
    font-size: 25px;
    margin-left: 70px;
    padding-top: 40px;
}
.btn-violet{
    width: 65px;
    height: 20px;
    background-color: #ab5de6;
    border-radius: 20%;
    border: none;
    color:  white;
    cursor: pointer;
}
.uncompleted{
    width: 22px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid red;
    text-align: center;
    margin-left: 70px;
    color: red;
}
.btn-green{
    width: 65px;
    height: 20px;
    background-color: #2CC6AB;
    border-radius: 20%;
    border: none;
    color:  white;
    cursor: pointer;
}
.btn-orange{
    width: 65px;
    height: 20px;
    background-color: #FF9B00;
    border-radius: 20%;
    border: none;
    color:  white;
    cursor: pointer
}
.upcoming{
    font-size: 25px;
    margin-left: 70px;
    padding-top: 40px;
}
.btn-fucsia{
    width: 65px;
    height: 20px;
    background-color: #EC4A9D;
    border-radius: 20%;
    border: none;
    color:  white;
    cursor: pointer
}
.btn-lgreen{
    width: 65px;
    height: 20px;
    background-color:  #A3D116;
    border-radius: 20%;
    border: none;
    color:  white;
    cursor: pointer
}
.first-section{
    margin-top: 70px;
    margin-bottom: 5px;
    border-bottom: 1px solid  #F6F8F9
}
section{
    margin-bottom: 10px;
}